<div class="departments-container">
	<h1>Departamentos</h1>

	<div class="table-container" *ngIf="!showCreateDepartment">
		<app-custom-table
			[tableData]="tableData"
			[totalItems]="totalItems"
			[loading]="loading"
			[invite]="false"
			[del]="true"
			[seee]="true"
			(paginationChangeEmitter)="onPaginationChange($event)"
			(seeEmitter)="onSeeDepartment($event)"
			(deleteEmitter)="onDeleteDepartment($event)"
			(creatingEmitter)="openCreateDepartment()"
		>
		</app-custom-table>
	</div>

  <app-create-department
    *ngIf="showCreateDepartment"
    (closeEmitter)="closeCreateDepartment()"
    (created)="onDepartmentUpdated()"
  ></app-create-department>	<app-see-department
		*ngIf="showSeeDepartment && selectedDepartment"
		[department]="selectedDepartment"
		(closeEmitter)="closeSeeDepartment()"
		(updated)="onDepartmentUpdated()"
	></app-see-department>
</div>
