<div *ngIf="showLogin" class="login-container">
  <div class="login-box">
    <h1 id="app-name">Taskando</h1>
    <div id="login-title-space">
      <h2 id="login-title">Login</h2>
    </div>

    <form>
      <app-custom-input
        [type]="'email'"
        [label]="'Digite seu email'"
        [customValidators]="[validators.required(), validators.isEmail()]"
        [(ngModel)]="loginDto.userEmail"
        name="email"
      ></app-custom-input>

      <app-custom-input
        [type]="'password'"
        [label]="'Digite sua senha'"
        [customValidators]="[
          validators.required(),
          validators.isStrongPassword()
        ]"
        [(ngModel)]="loginDto.password"
        name="password"
      ></app-custom-input>

      <button id="login-button" type="button" (click)="getPolicies()">
        Entrar
      </button>
    </form>
    <p id="forgot-password">Esqueci minha senha</p>
  </div>
</div>
