<div class="organizations-container">
  <h1>Organizações</h1>

  <div class="table-container" *ngIf="!showCreateOrganization">
    <app-custom-table
      [tableData]="tableData"
      [invite]="false"
      [del]="true"
      [seee]="true"
      (seeEmitter)="onSeeOrganization($event)"
      (deleteEmitter)="onDeleteOrganization($event)"
      (creatingEmitter)="openCreateOrganization()"
    >
    </app-custom-table>
  </div>

  <app-create-organization
    *ngIf="showCreateOrganization"
    (closeEmitter)="closeCreateOrganization()"
  >
  </app-create-organization>
</div>
