
<div class="organization-members-container">
  <h1>Membros da Organização</h1>

  <div class="table-container" *ngIf="!showCreateModal && !selectedMember">
    <app-custom-table
      [tableData]="tableData"
      [totalItems]="totalItems"
      [loading]="isLoading"
      [invite]="false"
      [del]="true"
      [seee]="true"
      (paginationChangeEmitter)="onPaginationChange($event)"
      (seeEmitter)="onSeeMember($event)"
      (deleteEmitter)="onDeleteMember($event)"
      (creatingEmitter)="openCreateModal()"
    >
    </app-custom-table>
  </div>

  <app-create-organization-member
    *ngIf="showCreateModal"
    [orgId]="orgId"
    (closeEmitter)="closeCreateModal()"
  >
  </app-create-organization-member>

  <app-see-organization-members
    *ngIf="selectedMember"
    [member]="selectedMember"
    (closeEmitter)="closeMemberModal()"
    (updateEmitter)="onMemberUpdated()"
  >
  </app-see-organization-members>
</div>
