<div class="organization-members-container">
  <div class="header">
    <h2>Membros da Organização</h2>
    <button
      class="btn btn-primary"
      (click)="openCreateModal()"
      type="button">
      Adicionar Membro
    </button>
  </div>

  <app-custom-table
    [tableData]="tableData"
    [isLoading]="isLoading"
    [totalItems]="totalItems"
    [currentPage]="(paginator.offset / (paginator.limit || 10)) + 1"
    [itemsPerPage]="paginator.limit || 10"
    (pageChange)="onPageChange($event)"
    (search)="onSearch($event)"
    (rowClick)="onMemberClick($event)">
  </app-custom-table>

  <app-create-organization-member
    *ngIf="showCreateModal"
    [orgId]="orgId"
    (closeEmitter)="closeCreateModal()"
    (createEmitter)="onMemberCreated()">
  </app-create-organization-member>

  <app-see-organization-members
    *ngIf="selectedMember"
    [member]="selectedMember"
    (closeEmitter)="closeMemberModal()"
    (updateEmitter)="onMemberUpdated()">
  </app-see-organization-members>
</div>