
<div class="logon-container">
  <div class="logon-box">
    <h1 id="app-name">Taskando</h1>
    <div id="logon-title-space">
      <h2 id="logon-title">Criar Conta</h2>
    </div>

    <form>
      <app-custom-input
        [type]="'text'"
        [label]="'Primeiro Nome'"
        [customValidators]="[validators.required(), validators.hasXWords(1)]"
        [(ngModel)]="userToLogon.firstName"
        name="name"
      >
      </app-custom-input>

      <app-custom-input
        [type]="'text'"
        [label]="'Segundo Nome'"
        [customValidators]="[validators.required(), validators.hasXWords(1)]"
        [(ngModel)]="userToLogon.lastName"
        name="lastName"
      >
      </app-custom-input>

      <app-custom-input
        [type]="'email'"
        [label]="'Digite seu email'"
        [customValidators]="[validators.required(), validators.isEmail()]"
        [(ngModel)]="logonDto.email"
        name="email"
      ></app-custom-input>

      <app-custom-input
        #passInput
        [type]="'password'"
        [label]="'Crie uma senha'"
        [customValidators]="[
          validators.required(),
          validators.isStrongPassword()
        ]"
        [(ngModel)]="logonDto.password"
        name="password"
      ></app-custom-input>

      <app-custom-input
        [type]="'password'"
        [label]="'Confirme a senha'"
        [customValidators]="[
          validators.required(),
          validators.equalValues(passInput.value, 'Senha')
        ]"
      ></app-custom-input>

      <button id="logon-button" type="button" (click)="preLogon()">
        Cadastrar
      </button>
    </form>
    
    <p id="already-have-account" (click)="goToLogin()">Já tenho uma conta</p>
  </div>
</div>
